@import "tailwindcss";

:root {
    --primary-color: #B68C5A;
    --primary-text-color: #414040;
    --secondary-text-color: #707070;
    --primary-font-family: "EB Garamond";
    --secondary-font-family: "Poppins";
}

.primary-font {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: 38px;
    font-weight: 800;
}

.secondary-font {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
}

.primary-banner-font {
    font-family: var(--primary-font-family);
    font-size: 72px;
    font-weight: 800;
    color: white;
}

.secondary-banner-font {
    font-family: var(--secondary-font-family);
    color: #E7E7E7;
    font-size: 16px;
    font-weight: 400;
}

.primary-btn {
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
}

* {
    transition: 0.4s ease;
    box-sizing: border-box;
}

body {
    border: 2px solid black;
}

/* navigation section */
.nav-logo-title {
    color: var(--primary-text-color);
}

.nav-button {
    /* border: 2px solid black; */
    align-self: center;
}

nav li:hover {
    scale: 1.05;
}

nav a:hover {
    color: var(--primary-color);
}

.primary-btn:hover {
    scale: 1.05;
    cursor: pointer;
}

/* banner section */
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    color: white;
}

.banner-input {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

/* responsive design */
/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-bar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .nav-logo-img {
        width: 100%;
    }

    .banner-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .banner-content h1 {
        font-size: 40px;
    }

    .banner-search-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
}


/* small device */
@media screen and (max-width: 576px) {
    .nav-bar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        justify-items: center;
    }

    .nav-logo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .nav-logo-img {
        width: 100%;
    }

    .banner-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
        padding: 20px 0px;
    }

    .banner-search-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .banner-content h1 {
        font-size: 40px;
    }
}